$default-font : 'Dotum';
$number-font : 'Arial Black';

$color1: #9123a7;
$color2: #ff2c5b;
$color3: #ffb90c;
$color4: #c7d732;
$color5: #81bb42;
$color6: #15aeff;
$color7: #c5c5c5;
$color8: #4c2915;

$theme_main_bg : #092238;
$theme_main_color : #fff;
$theme_main_color2 : #e6ad00;
$theme_text : #333;
$theme_text2 : #666;
$theme_text3 : #2c4255;


$theme2_main_bg : #f2a2b1;
$theme2_main_color : #ee8295;
$theme2_main_color2 : #fff;
$theme2_text : #333;
$theme2_text2 : #666;
$theme2_text3 : #9f3541;
